@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes breathe {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
  }

  .animate-breathe {
    animation: breathe 3s ease-in-out infinite;
  }
}
/* Dans votre globals.css */
@keyframes gentle-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-gentle-pulse {
  animation: gentle-pulse 2s infinite ease-in-out;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progressBar 2s linear forwards;
}
/* Dans globals.css */
@keyframes gentle-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-gentle-pulse {
  animation: gentle-pulse 2s infinite ease-in-out;
}

@keyframes textColorFade {
  0% {
    color: #a67b5b;
    transform: translateX(0);
  }
  50% {
    color: white;
    transform: translateX(10px);
  }
  100% {
    color: white;
    transform: translateX(0);
  }
}

.animate-text-fade {
  animation: textColorFade 1s forwards ease-in-out;
}
